*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x : none;
}

body{
list-style : none;
text-decoration: none;
overflow-x : hidden;
}



nav{
    height: 6rem;
    width: 100vw;
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 1;
    -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(7px);
     top: 0;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

/*Styling logo*/

.logo{
    display: flex;
text-align: center;
align-items: center;
width: 350px;
}
.logo p{
  color: black;
  text-transform: uppercase;
  padding: 0px 50px;
  font-size: 2em;} 



/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    text-transform: uppercase;
    
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: black;
}

.nav-links li {
    position: relative;
  color: black;
}


.nav-links li::before{
content: '';
z-index: 20;
height: 1px;
background: black;
position: absolute;
bottom: -10px;
width: 100%;
transform: scaleX(0);
transition: 0.5s ease-in-out; 
transform-origin: left;
}

.nav-links li:hover::before{
    transform: scaleX(1);
    transform-origin:left;
    }



/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: black;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: white;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}







.container-chef{
    width: 100%;
    display: flex;
    align-items: center;
justify-content: center;
background-color: black;
padding: 50px;
    }
    
    .container-chef div{
        width: 50%;
    }
    
    .container-chef h5{
    text-align: center;
    font-size:3em;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    color: white;
    margin-block-start: 150px;
    }
    


    .container-chef p{
    font-size: 1em;
    font-family: arial,sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    padding: 20px;
    color: white;
    }

@media only screen and (max-width: 868px){
    .container-chef div{
        width: 100%;
    }

}
   
.contact {
width: 100%;
color: black;
background-color: white;
text-align: center;
margin-block-start: 100px;
}
.contact p{
    font-size:3em;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-transform: uppercase;
}




.container-main{
width: 100%;
display: flex;
flex-flow: row wrap;
background-color: white;
justify-content:center;
padding: 30px;
gap: 20px;

}


.container-social {
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 10%;
}
.container-social a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    padding: 20px;
    }
    
.container-lien{
color: white;
display: flex;
flex-flow: row wrap;
justify-content:center;
}


.container-lien p{
color: black;
font-size: 1.3rem;
padding: 20px;
background-color: white;
}